# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/users.db

# Environment variables - NEVER push these.
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db